.titulo-1{
    color: rgb(226, 43, 43);
    background-color: cornsilk;
}
body{
    background-image: url(https://w7.pngwing.com/pngs/593/31/png-transparent-chef-cartoon-desktop-chef-miscellaneous-hand-cook.png);
    background-size: 300px
}
.button{
    background-color: rgb(42, 54, 165);
    color: beige;
}
tr{
    background-color: rgb(230, 230, 233);
}